/* Get_Bootstrap */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css);


body{
    background-color:#2c3338;
    color:#606468;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

input{
    display: flex;
}

a:link{
    text-decoration: none;
   
}


.tela{
    border-radius: 5px;
    height: 290px;
    width: 90vw;
    background-color: dimgray;

}

#botao{
    width: 150px;
    margin-left: 5px;
        
}

.home > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

.nav {
    height: 50px;
}



